# Synthèse vocale
TTS
pyttsx3

# Reconnaissance vocale
openai-whisper
SpeechRecognition

# Microphone & audio
pyaudio
sounddevice
pygame

# LLM & IA
transformers
torch

# GUI
PySide6

# Analyse fichiers (OCR, PDF, DOCX, images, vidéo)
pytesseract
pillow
pymupdf
python-docx
moviepy

# Fallback audio (bip)
numpy
scipy